# Wstęp

In [15]:
import pandas as pd
import numpy as np

In [16]:
incidents = pd.read_csv('http://piotrdomagala.pl/data/CanadianRailwayCrossingIncidents.csv ')

In [17]:
incidents.head(10)

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0
5,Nova Scotia,Serious injuries,0,0,0,0
6,New Brunswick,Accidents,0,0,0,0
7,New Brunswick,Fatalities,0,0,0,0
8,New Brunswick,Serious injuries,0,0,0,0
9,Quebec,Accidents,4,0,1,0

In [18]:
incidents.set_index('Region').head()

,EventType,Public automated,Public passive,Private,Farm
Region,,,,,
Newfoundland,Accidents,0,0,0,0
Newfoundland,Fatalities,0,0,0,0
Newfoundland,Serious injuries,0,0,0,0
Nova Scotia,Accidents,1,0,0,0
Nova Scotia,Fatalities,0,0,0,0

In [19]:
incidents.head()

,Region,EventType,Public automated,Public passive,Private,Farm
0,Newfoundland,Accidents,0,0,0,0
1,Newfoundland,Fatalities,0,0,0,0
2,Newfoundland,Serious injuries,0,0,0,0
3,Nova Scotia,Accidents,1,0,0,0
4,Nova Scotia,Fatalities,0,0,0,0

In [20]:
incidents.set_index(keys=['EventType','Region'], inplace=True)

In [21]:
incidents.head()

,,Public automated,Public passive,Private,Farm
EventType,Region,,,,
Accidents,Newfoundland,0,0,0,0
Fatalities,Newfoundland,0,0,0,0
Serious injuries,Newfoundland,0,0,0,0
Accidents,Nova Scotia,1,0,0,0
Fatalities,Nova Scotia,0,0,0,0

In [25]:
incidents.sort_index(ascending = [True, False],inplace=True)

In [23]:
incidents.head(10)

# Zadanie

In [26]:
air = pd.read_csv('http://piotrdomagala.pl/data/Air_Traffic_Passenger_Statistics.csv')

In [27]:
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [28]:
air.set_index(keys=['Operating Airline','Activity Period'], inplace=True)

In [30]:
air.head(10)

In [31]:
air.reset_index(inplace=True)
air.head()

,Operating Airline,Activity Period,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271
1,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131
2,ATA Airlines,200507,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415
3,Air Canada,200507,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156
4,Air Canada,200507,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090

In [32]:
air.set_index(["Activity Period","Operating Airline"],inplace=True)
air.head(10)

In [33]:
air.sort_index(ascending=[False,True], inplace=True)
air.head(10)

In [34]:
air.reset_index(inplace=True)
air.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,201803,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Deplaned,Other,International,A,1090
1,201803,ABC Aerolineas S.A. de C.V. dba Interjet,4O,ABC Aerolineas S.A. de C.V. dba Interjet,4O,International,Mexico,Enplaned,Other,International,A,1212
2,201803,Aer Lingus,EI,Aer Lingus,EI,International,Europe,Deplaned,Other,International,G,7165
3,201803,Aer Lingus,EI,Aer Lingus,EI,International,Europe,Enplaned,Other,International,G,6992
4,201803,Aeromexico,AM,Aeromexico,AM,International,Mexico,Deplaned,Other,International,A,12334