# Wstęp

In [1]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.read_csv('http://piotrdomagala.pl/data/Insurance.csv')
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,197,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,20
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,284,63

In [4]:
frame.loc[2,"Claims"]

20

In [5]:
frame.loc[2,'Claims'] = 19
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,197,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,19
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,284,63

In [6]:
frame.loc[2,'Claims'] = frame.loc[2,'Claims'] + 1
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,197,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,20
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,284,63

In [7]:
frame.loc[2,'Claims'] += 1
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,197,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,21
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,284,63

In [9]:
isYounger25 = frame['Age'] == "<25"

In [11]:
frame[isYounger25].dropna()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,197,38
4,5,1,1-1.5l,<25,284,63
8,9,1,1.5-2l,<25,133,19
12,13,1,>2l,<25,24,4
16,17,2,<1l,<25,85,22
20,21,2,1-1.5l,<25,149,25
24,25,2,1.5-2l,<25,66,14
28,29,2,>2l,<25,9,4
32,33,3,<1l,<25,35,5
36,37,3,1-1.5l,<25,53,10
40,41,3,1.5-2l,<25,24,8
44,45,3,>2l,<25,7,3
48,49,4,<1l,<25,20,2
52,53,4,1-1.5l,<25,31,7
56,57,4,1.5-2l,<25,18,5
60,61,4,>2l,<25,3,0

In [12]:
frame.loc[isYounger25,'Holders'].head()

In [13]:
(frame.loc[isYounger25,'Holders']+100).head()

In [14]:
frame.loc[isYounger25,'Holders'] = frame.loc[isYounger25,'Holders']+100
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,297,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,21
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,384,63

In [16]:
frame.loc[isYounger25,"Holders"] += 1000
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,2297,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,21
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,2384,63

In [18]:
frame.loc[isYounger25,"Holders"] = frame["Holders"] + 1000

In [20]:
frame.head()

,ID,District,Group,Age,Holders,Claims
0,1,1,<1l,<25,3297,38
1,2,1,<1l,25-29,264,35
2,3,1,<1l,30-35,246,21
3,4,1,<1l,>35,1680,156
4,5,1,1-1.5l,<25,3384,63

# Zadanie

In [22]:
professions = pd.read_csv('http://piotrdomagala.pl/data/Prestige.csv',
                          index_col='name')
professions.head()

,education,income,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [23]:
professions.loc['chemists','type'] = 'scientist'
professions.head()

,education,income,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,scientist

In [24]:
isScientist = professions['type'] == 'scientist'
isScientist.head()

In [26]:
professions.loc[isScientist,'prestige'] = 90
professions.head()

,education,income,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,90.0,2111,scientist

In [27]:
professions.loc[isScientist,'income'] *= 1.5
professions.head()

,education,income,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351.0,11.16,68.8,1113,prof
general.managers,12.26,25879.0,4.02,69.1,1130,prof
accountants,12.77,9271.0,15.70,63.4,1171,prof
purchasing.officers,11.42,8865.0,9.11,56.8,1175,prof
chemists,14.62,12604.5,11.68,90.0,2111,scientist