# Wstęp

In [1]:
import pandas as pd, numpy as np
frame = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv', 
                    usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [2]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [3]:
frame.sort_values(by='Calories').head()

,Category,Item,Serving Size,Calories,TotalFat
125,Beverages,Diet Dr Pepper (Child),12 fl oz cup,0,0.0
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0,0.0
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0,0.0
136,Beverages,Dasani Water Bottle,16.9 fl oz,0,0.0
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0

In [4]:
frame.sort_values(by='Calories', ascending=False).head()

,Category,Item,Serving Size,Calories,TotalFat
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0

In [5]:
frame['Calories'] = frame['Calories'].astype('float')
frame.loc[82,'Calories'] = np.NaN

In [6]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [7]:
frame.loc[82]

In [8]:
frame.sort_values(by='Calories').tail()

,Category,Item,Serving Size,Calories,TotalFat
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990.0,46.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050.0,50.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090.0,56.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150.0,60.0
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),NaN,118.0

In [9]:
frame.sort_values(by='Calories', na_position='first').head()

,Category,Item,Serving Size,Calories,TotalFat
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),NaN,118.0
114,Beverages,Diet Coke (Small),16 fl oz cup,0.0,0.0
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0.0,0.0
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0.0,0.0
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0.0,0.0

In [10]:
frame.sort_values(by=['Calories','Item']).head(20)

,Category,Item,Serving Size,Calories,TotalFat
147,Coffee & Tea,Coffee (Large),16 fl oz cup,0.0,0.0
146,Coffee & Tea,Coffee (Medium),16 fl oz cup,0.0,0.0
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0.0,0.0
136,Beverages,Dasani Water Bottle,16.9 fl oz,0.0,0.0
117,Beverages,Diet Coke (Child),12 fl oz cup,0.0,0.0
116,Beverages,Diet Coke (Large),30 fl oz cup,0.0,0.0
115,Beverages,Diet Coke (Medium),21 fl oz cup,0.0,0.0
114,Beverages,Diet Coke (Small),16 fl oz cup,0.0,0.0
125,Beverages,Diet Dr Pepper (Child),12 fl oz cup,0.0,0.0
124,Beverages,Diet Dr Pepper (Large),30 fl oz cup,0.0,0.0
123,Beverages,Diet Dr Pepper (Medium),21 fl oz cup,0.0,0.0
122,Beverages,Diet Dr Pepper (Small),16 fl oz cup,0.0,0.0
140,Coffee & Tea,Iced Tea (Child),12 fl oz cup,0.0,0.0
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0.0,0.0
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0.0,0.0
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0.0,0.0
101,Snacks & Sides,Apple Slices,1.2 oz (34 g),15.0,0.0
100,Snacks & Sides,Side Salad,3.1 oz (87 g),20.0,0.0
106,Desserts,Kids Ice Cream Cone,1 oz (29 g),45.0,1.5
208,Coffee & Tea,Iced Coffee with Sugar Free French Vanilla Syr...,16 fl oz cup,80.0,4.5

In [11]:
frame.sort_values(by=['Category', 'Item'], ascending=[True,False]).head(20)

,Category,Item,Serving Size,Calories,TotalFat
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520.0,26.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610.0,31.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600.0,29.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540.0,27.0
56,Beef & Pork,McRib,7.3 oz (208 g),500.0,26.0
52,Beef & Pork,McDouble,5.2 oz (147 g),380.0,17.0
55,Beef & Pork,Jalapeño Double,5.6 oz (159 g),430.0,23.0
48,Beef & Pork,Hamburger,3.5 oz (98 g),240.0,8.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750.0,43.0
50,Beef & Pork,Double Cheeseburger,5.7 oz (161 g),430.0,21.0
54,Beef & Pork,Daily Double,6.7 oz (190 g),430.0,22.0
49,Beef & Pork,Cheeseburger,4 oz (113 g),290.0,11.0
42,Beef & Pork,Big Mac,7.4 oz (211 g),530.0,27.0
53,Beef & Pork,Bacon McDouble,5.7 oz (161 g),440.0,22.0
51,Beef & Pork,Bacon Clubhouse Burger,9.5 oz (270 g),720.0,40.0
126,Beverages,Sprite (Small),16 fl oz cup,140.0,0.0
127,Beverages,Sprite (Medium),21 fl oz cup,200.0,0.0
128,Beverages,Sprite (Large),30 fl oz cup,280.0,0.0
129,Beverages,Sprite (Child),12 fl oz cup,100.0,0.0
133,Beverages,Minute Maid Orange Juice (Small),12 fl oz cup,150.0,0.0

In [13]:
frame2 = pd.read_csv('http://piotrdomagala.pl/data/Mcdonalds.csv', 
                    usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'], index_col='Item')
frame2

,Category,Serving Size,Calories,TotalFat
Item,,,,
Egg McMuffin,Breakfast,4.8 oz (136 g),300,13.0
Egg White Delight,Breakfast,4.8 oz (135 g),250,8.0
Sausage McMuffin,Breakfast,3.9 oz (111 g),370,23.0
Sausage McMuffin with Egg,Breakfast,5.7 oz (161 g),450,28.0
Sausage McMuffin with Egg Whites,Breakfast,5.7 oz (161 g),400,23.0
...,...,...,...,...
McFlurry with Oreo Cookies (Small),Smoothies & Shakes,10.1 oz (285 g),510,17.0
McFlurry with Oreo Cookies (Medium),Smoothies & Shakes,13.4 oz (381 g),690,23.0
McFlurry with Oreo Cookies (Snack),Smoothies & Shakes,6.7 oz (190 g),340,11.0
McFlurry with Reese's Peanut Butter Cups (Medium),Smoothies & Shakes,14.2 oz (403 g),810,32.0
McFlurry with Reese's Peanut Butter Cups (Snack),Smoothies & Shakes,7.1 oz (202 g),410,16.0

In [14]:
frame.sort_index(ascending=True).head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

# Zadanie

In [16]:
import pandas as pd, numpy as np

In [17]:
fuel = pd.read_csv('http://piotrdomagala.pl/data/fuel.csv', 
                   low_memory=False, 
                   usecols=['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type','Combined MPG (FT1)'])

In [18]:
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [19]:
fuel.head(20)

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
9,28455,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
10,27591,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,20.0
11,27594,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
12,28454,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,20.0
13,28456,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
14,27592,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,21.0
15,27595,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,18.0
16,28457,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,18.0
17,27585,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,Regular,18.0
18,27588,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,Regular,18.0
19,28449,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,Regular,18.0

In [20]:
fuel.loc[27681]

In [21]:
fuel.sort_values(by=['Make','Model']).head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
1966,1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0

In [23]:
fuel.sort_values(by='Combined MPG (FT1)', ascending=False).head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
31674,31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0
31241,32278,2012,Ford,Focus Electric,Compact Cars,Electricity,105.0
29847,32276,2011,BMW,Active E,Subcompact Cars,Electricity,102.0
30593,30979,2011,Nissan,Leaf,Midsize Cars,Electricity,99.0
27084,30978,2008,MINI,MiniE,Minicompact Cars,Electricity,98.0

In [24]:
fuel.sort_values(by=['Make','Combined MPG (FT1)'], ascending=[True, False]).head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
1966,1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

In [25]:
fuel.sort_values(by='Combined MPG (FT1)', na_position='first').head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
27681,25586,2009,Chevrolet,Silverado 15 Hybrid 4WD,Standard Pickup Trucks 4WD,Regular,NaN
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN
6810,4141,1988,Lamborghini,Countach,Two Seaters,Premium,7.0
4425,1711,1986,Lamborghini,Countach,Two Seaters,Premium,7.0
7943,5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0

In [29]:
fuel.sort_values(by='Combined MPG (FT1)', na_position='first', inplace=True)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
27681,25586,2009,Chevrolet,Silverado 15 Hybrid 4WD,Standard Pickup Trucks 4WD,Regular,NaN
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN
6810,4141,1988,Lamborghini,Countach,Two Seaters,Premium,7.0
4425,1711,1986,Lamborghini,Countach,Two Seaters,Premium,7.0
7943,5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0

In [30]:
fuel.sort_index(ascending=True).head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0